{
    "extends": [
        "@apify/ts"
    ],
    "root": true,
    "env": {
        "node": true
    },
    "parserOptions": {
        "project": "./tsconfig.eslint.json"
    },
    "rules": {
        "max-len": 0,
        "import/extensions": 0,
        "@typescript-eslint/await-thenable": 1,
        "@typescript-eslint/ban-types": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0
    }
}
